<!-- <app-normalnavbar></app-normalnavbar> -->
<div class="container">

    <mat-progress-bar *ngIf="checking" mode="indeterminate"></mat-progress-bar>

    <mat-card class="card">

        <mat-card-content>
            <form (ngSubmit)="check()">
                <mat-form-field appearance="outline" class="field">
                    <mat-label> Email</mat-label>
                    <input matInput name="email" [(ngModel)]="email.email" type="email"
                        placeholder="Enter your email..">

                </mat-form-field>


                <br>

                <mat-spinner *ngIf="spinner" class="spinner"></mat-spinner>
                <br>

                <button mat-raised-button type="submit" color="primary" class="btn">
                    Send Otp
                </button>

            </form>


        </mat-card-content>
    </mat-card>

</div>