.container {

    width: 25%;
    margin: auto;
    margin-top: 25px;
    /* background-color: white; */
    text-align: center;
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
}

.btn {
    padding: 20px;
    margin: 10px;
}

.spinner {
    margin: auto;
}

.field {
    width: 80%;
}