<!-- <app-normalnavbar></app-normalnavbar> -->


<div class="card">
    <mat-progress-bar *ngIf="validate" mode="indeterminate"></mat-progress-bar>
    <br>
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="check()">


                <mat-form-field appearance="outline" class="field">
                    <mat-label> Otp</mat-label>
                    <input matInput name="otp" [(ngModel)]="data.otp" type="text" placeholder="Enter the 6 digit Otp..">

                </mat-form-field>

                <mat-form-field appearance="outline" class="field">
                    <mat-label> New Password</mat-label>
                    <input matInput name="pass" [(ngModel)]="data.pass" [type]="hide1?'password':'text'"
                        placeholder="Enter your new Password..">
                    <mat-icon matSuffix (click)="hide1=!hide1">{{hide1?'visibility':'visibility_off'}}</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" class="field">
                    <mat-label> Confirm Password</mat-label>
                    <input matInput name="confirm" [(ngModel)]="data.confirm" [type]="hide2?'password':'text'"
                        placeholder="Re-enter your new password">

                    <mat-icon matSuffix (click)="hide2=!hide2">{{hide2?'visibility':'visibility_off'}}</mat-icon>

                </mat-form-field>


                <br>

                <button mat-raised-button type="submit" color="primary" class="btn">
                    Confirm
                </button>

            </form>
        </mat-card-content>
    </mat-card>


    <!-- {{data | json}} -->
</div>