<!-- <app-normalnavbar></app-normalnavbar> -->
<div class="container">

    <!-- <h1>Welcome to Email Sender Application</h1>
    <h2>Send Email to anyone </h2> -->

    <!-- <img src=frontend\src\app\components\home\email-api.jpg alt="Image" width="500" height="600"> -->

    <!-- <img src="../assets/images/email2.jpg" alt="Image" width="1200px" height="500px" />
    <br> <br>
    <a routerLink="/login" mat-raised-button color="primary"> Let's Go..</a> -->

</div>

<div class="bg-image">

    <!-- <img src="https://pearlsol.com/img/breadcrumb/hd%20blog%20pic.jpg" alt="im"> -->
    <!-- <a routerLink="/login" mat-raised-button color="primary"> Let's Go..</a> -->


</div>