<div class="container">
    <div class="card">

        <mat-card>

            <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
            <br>
            <mat-card-content>


                <form [formGroup]="studentform" (ngSubmit)="onFormSubmit()">



                    <div class="head">
                        <h1>Sign Up</h1>
                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" placeholder="Ex. Technical" formControlName="name">
                        </mat-form-field>

                    </div>



                    <div class="inline">
                        <mat-form-field appearance="outline">
                            <mat-label>Rollno</mat-label>
                            <input matInput type="text" placeholder="Ex. Technical" formControlName="roll">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Branch</mat-label>
                            <mat-select formControlName="branch">
                                <mat-option *ngFor="let val of branches" [value]="val">{{val}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
                        </mat-form-field>
                    </div>



                    <div class="row">
                        <mat-radio-group aria-label="Select an option" formControlName="gender">
                            <mat-label><b>Gender</b></mat-label>
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                            <mat-radio-button value="others">Others</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <br>

                    <div class="inline">
                        <mat-form-field appearance="outline">
                            <mat-label>Year</mat-label>
                            <mat-select formControlName="year">
                                <mat-option *ngFor="let val of years" [value]="val">{{val}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Date of birth</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>


                    </div>

                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Ex. 111" type="number" formControlName="phone">
                        </mat-form-field>


                    </div>

                    <div class="inline">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide?'password':'text'" placeholder="Ex. Google"
                                formControlName="password">

                            <mat-icon matSuffix (click)="hide=!hide">
                                {{hide?'visibility':'visibility_off'}}
                            </mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide1?'password':'text'" placeholder="Ex. Google"
                                formControlName="confirm">

                            <mat-icon matSuffix (click)="hide1=!hide1">
                                {{hide1?'visibility':'visibility_off'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="action">
                        <!-- [disabled]="studentform.invalid" -->

                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon>account_box</mat-icon>
                            Register</button>
                        <button mat-raised-button color="accent" type="reset">
                            <mat-icon>highlight_off</mat-icon>
                            Reset</button>
                    </div>


                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>